{{ formatedList }}

{{#if canShowCollapseButton}}
  {{#if collapsed}}
    &hellip;

    <a href="#" {{ action "show" }}>Show</a>
  {{ else }}
    <a href="#" {{ action "collapse" }}>Collapse</a>
  {{/if}}
{{/if}}
